@use "base";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

body {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

#calculator.row {
    @extend .m-0;
}

.calculator-button {
    @extend .w-100;
    @extend .h-100;
    @extend .border-0;
    @extend .rounded-pill;
    @extend .p-0;
    @extend .text-dark;
    background-color: $gray-300 !important;
}

.calculator-button:hover {
    background-color: $gray-100 !important;
}
.calculator-button:active {
    background-color: $gray-200 !important;
}
